*.pvd
*.jld2
*.png
*.jpg
*.vtu
*.vtk
*.csv
test*.jl
*.python-version
.svg
scratch.jl
output**/**
**/output**/**
figure/
.snakemake/**
.snakemake/*
2025*/**
*.yml
*.sh
# don't ignore files of the individual papers
# 2026
!papers/2026/Overlapping-Electrical-Double-Layer-in-Nanoporous-Carbon-Separator-Coating-Enhances-Rate-Capability-of-Lithium-Ion-Batteries/snakemake_config.yml
!papers/2026/Overlapping-Electrical-Double-Layer-in-Nanoporous-Carbon-Separator-Coating-Enhances-Rate-Capability-of-Lithium-Ion-Batteries/input_files/simulation_inputs/**/input.yml
!papers/2026/Overlapping-Electrical-Double-Layer-in-Nanoporous-Carbon-Separator-Coating-Enhances-Rate-Capability-of-Lithium-Ion-Batteries/input_files/simulation_inputs/**/parameters.yml
